body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    overflow: auto;
}

.mainContainer {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.form-control {
    font-size: 12px;
}

label {
    line-height: 40px;
    text-align: right;
}

.textAlignRight {
    text-align: right;
}

.addressControl {
    width: 25%;
    float: left;
}

.addressControlSpecial {
    width: 123px;
    float: left;
}

.well {
    display: block;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.timeControl {
    width: 50%;
    float:left;
}

.textAlignCenter {
    text-align: center;
}

.modal label, .modal {
    font-size: 12px;
}

.modal table {
    width: 100%;
}

.modal table td {
    padding-left: 10px;
}

.addressInputControl {
    float: left;
    width: 317px;
}

h4 {
    font-weight: bold;
}

.company_type_add {
    margin-top: 13px;
}

#resultGrid, #resultGridModify, #resultImGrid, #resultTmsGrid {
    font-size: 12px;
}

.switchAll {
    padding-left: 10px !important;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #c01213;
    min-width: 1280px;
}

#resultGrid, #resultGridModify, #resultImGrid, #resultTmsGrid  {
    border: 1px solid #ddd;
}

#resultGrid thead th, #resultGridModify thead th, #resultImGrid thead th, #resultTmsGrid thead th {
    border-color: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal !important;
    text-align: left;
}

#resultGrid thead th:not(:last-child), #resultGrid tbody tr td:not(:last-child), #resultGridModify thead th:not(:last-child), #resultGridModify tbody tr td:not(:last-child), #resultImGrid thead th:not(:last-child), #resultImGrid tbody tr td:not(:last-child),
#resultTmsGrid thead th:not(:last-child), #resultTmsGrid tbody tr td:not(:last-child) {
    border-right: 1px solid #ddd;
}

thead {
    background: rgb(217, 237, 247);
}

.table-row:hover {
    background-color: rgb(250, 240, 190);
}

.noPaddingLeft {
    padding-left: 0px;
}

.noPaddingRight {
    padding-right: 0px;
}

#resultGrid tfoot th {
    border-color: #ddd;
    text-align: left;
}

.footerInfo {
    line-height: 30px;
    float: left;
    margin-left: 5px;
}

.footerSelector {
    width: 70px;
    float: left;
}

.pageNoInput {
    width: 62px;
    float: left;
}

.firstPage, .prevPage, .refreshBtn, .nextPage, .lastPage {
    float: left;
    color: #46b8da;
    line-height: 28px;
    margin-left: 5px;
}

.refreshBtn {
    color: #449d44;
}

.pageNoInputContainer {
    line-height: 30px;
}

.btnseparator {
    float: left;
    height: 30px;
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(255, 255, 255);
    margin: 1px;
    margin-left: 10px;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    border: none;
    border-radius: 0px;
}

table button {
    width: 50px;
    height: 25px;
    font-size: 10px !important;
    padding: 4px !important;
    float: left;
}

.alertInfo {
    font-size: 16px !important;
    font-weight: bold !important;
}

.alertConfirmBtn {
    margin-top: 10px;
}

.alertCloseBtn {
    margin-top: 10px;
}

.confirmAlert {
    display: none;
    position: fixed;
    top: 150px;
    width: 950px;
    z-index: 9999;
    left: 173px;
}

.wellFooter {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5 !important;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

#uploadBtn, #uploadBtnModify {
    margin-top: 10px;
}

#selectedFilesName, #selectedFilesNameModify {
    margin-top: 10px;
    margin-left: 10px;
}

.progress, .progressModify {
    display: none;
}

.progressRow, .progressRowModify {
    margin-top: 10px;
    padding-left: 10px;
}

.shadowContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    opacity: .5 !important;
}

.shadowContainer .in {
    opacity: .5 !important;
}

.shadowContainer .fade {
    opacity: .5 !important;
}

.specialProgress {
    height: 20px;
    border-radius: 4px;
}

.alertValidate, .alertModifyValidate {
    margin-left: 10px;
}

.alertValidate label, .alertModifyValidate label {
    line-height: 14px !important;
    display: block !important;
    text-align: left !important;
}

input.error, select.error {
    border: 1px solid #a94442;
}

#confirmModal .confirmContent, #confirmInfoModal .confirmInfoContent, .deleteConfirmModal .confirmContent, .confirmModifyModal .confirmModifyContent {
    font-size: 14px;
    margin: 25px;
    font-weight: bold;
}

.queryContainer {
    font-size: 12px;
    width: 100%;
}

.queryContainer td {
    padding: 0px;
    overflow: hidden;
}

.labelTd {
    width: 80px !important;
}

.bootstrapBtn{
    background: #f24f44 none repeat scroll 0 0;
    border: 1px solid #f24f44;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    margin: 10px 10px 0px 10px;
    text-align: center;
    width: 98px;
}
.bootstrapBtn:hover {
    background: #fb766d none repeat scroll 0 0;
    border: 1px solid #fb766d;
}

.bootstrapBtnWarning{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    color: #959595;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    margin: 10px 10px 0px 10px;
    text-align: center;
    width: 98px;
}

.bootstrapBtnWarning:hover {
    border: 1px solid #f24f44;
    color: #f24f44;
}

.modifySiteInfoBtn, .deleteSiteInfoBtn {
    width: 50px;
    margin: 0px;
    padding: 4px;
}

.deleteUploadedBtnModify {
    padding: 0px !important;
    margin: 0px !important;
}