<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd ">



	<!-- 注解bean包扫描 -->
	<context:component-scan base-package="com.sfy.service"/>
    <context:component-scan base-package="com.sfy.dao "/>
    <context:component-scan base-package="com.sfy.manager"/>
    <context:component-scan base-package="com.sfy.controller"/>

    <context:annotation-config/>

    <!-- 导入其他配置文件 -->
    <import resource="spring-config-redis.xml"/>


    <!-- 属性文件读入 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:important.properties</value>
				<value>classpath:mss_config.properties</value>
			</list>
		</property>
	</bean>

	<!-- JSS工具类
	<bean id="jss" class="com.sfy.common.JSSService">
		<property name="accessKey" value="${jss.accessKey}"/>
		<property name="secretKey" value="${jss.secretKey}"/>
		<property name="endpoint" value="${jss.endpoint}"/>
		<property name="bucketName" value="${jss.bucketName}"/>
	</bean>

	<bean id="jssService" class="com.sfy.service.Impl.JssServiceImpl" init-method="init">
		<property name="endpoint" value="${jss.endpoint}" />
		<property name="accessKey" value="${jss.accessKey}" />
		<property name="secretKey" value="${jss.secretKey}" />
		<property name="tempDirectory" value="${catalina.base}/temp/las_jdhms" />
		<property name="bucketName" value="${jss.bucketName.bbs}" />
	</bean>-->
</beans>