<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName" default-lazy-init="false">

    <!--<bean id="jimClient" class="com.jd.jim.cli.compat.ReloadableJimClientFactoryBean">
        <property name="configId" value="${las-im.redis.configId}" />
        <property name="token" value="${las-im.redis.token}" />
    </bean>-->

    <!--廊坊
    <bean id="jimClient" class="com.jd.jim.cli.compat.ReloadableJimClientFactoryBean">
        <property name="configId" value="${las-im.redis.jim}"/>
        <property name="token" value="${las-im.redis.jim}"/>
    </bean>

    <bean id="lasCache" class="com.sfy.util.cache.redis.RedisLasCache" scope="singleton" destroy-method="close"/>
-->
</beans>