<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring
          http://camel.apache.org/schema/spring/camel-spring.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define Processor-->
    <bean id="myCamelProcessor" class="com.sfy.camel.MyCamelProcessor"/>
    <camelContext id="myCamel" xmlns="http://camel.apache.org/schema/spring">
        <route id="myCamelRoute" autoStartup="false">
            <from uri="timer://foo?fixedRate=true&amp;period=1000"/>
            <process ref="myCamelProcessor"/>
            <to uri="stream:out"/>
        </route>
    </camelContext>


    <!-- plurExample_1 -->
    <bean id="plurExample1" class="com.sfy.camel.PluralsightExample1"/>
    <camelContext id="plurExample_1" xmlns="http://camel.apache.org/schema/spring">
        <route id="peRout" autoStartup="false">
            <from uri="timer://foo?fixedRate=true&amp;period=1000"/>
            <process ref="plurExample1"/>
            <to uri="stream:out"/>
        </route>
    </camelContext>


    <!-- Route Building using Spring Component Scan (SimpleRouteBuilder.java)
    <context:component-scan base-package="com.sfy.camel"/>
    <camelContext id="camel222" xmlns="http://camel.apache.org/schema/spring">
        <contextScan/>
    </camelContext>
-->


    <!-- ActiveMQ Example using Spring DSL-->
    <bean id="testBean" class="com.sfy.camel.TestBean"/>
    <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="vm://localhost?broker.persistent=false" />
    </bean>
    <bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" init-method="start" destroy-method="stop">
        <property name="maxConnections" value="8" />
        <property name="connectionFactory" ref="jmsConnectionFactory" />
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="pooledConnectionFactory" />
    </bean>

    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <endpoint id="testBeanUriHelloMethod" uri="bean:testBean?method=hello"/>
        <route>
            <from uri="activemq:queue:start" />
            <to ref="testBeanUriHelloMethod" />
            <to uri="stream:out" />
        </route>
    </camelContext>

    <!-- Define RouteBuilder bean in Spring
    <bean id="activeMqRouteBuilder" class="com.sfy.camel.ActiveMqRouteBuilder"/>
    <camelContext id = "camel_AMRB" xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="activeMqRouteBuilder"/>
    </camelContext>
-->

    <!-- Define Multiple Routing in Spring
    <camelContext id="camel333" xmlns="http://camel.apache.org/schema/spring">
        <route>
            <from uri="timer:foo?period=1s"/>
            <transform>
                <simple>Heartbeat ${date:now:yyyy-MM-dd HH:mm:ss}</simple>
            </transform>
            <to uri="bean:testBean?method=hello"/>
            <to uri="activemq:queue:in"/>
        </route>

        <route>
            <from uri="activemq:queue:in"/>
            <log message="Route message from inbox to outbox queue with data ${body}"/>
            <to uri="stream:out"/>
        </route>
    </camelContext>
-->

</beans>